<!--
    Author: Laura Petrich
    Assistive Robotic Interface for One Camera
-->

<launch>

    <node pkg="user_interface" type="user_interface" name="user_interface" output="screen"/> 
    <node pkg="geometric_error" type="error_control" name="error_control" output="screen"/> 
    <node pkg="error_calculation" type="error_grouper.py" name="error_grouper" output="screen"/>

</launch>
