<!--
    Author: Laura Petrich
    Assistive Robotic Interface for One Camera
-->

<launch>

    <group ns="cam1">
        <node name="trackers" pkg="mtf_bridge" type="interface_tracker_node" output="screen"> 
            <param name="shm_name" value="shm1"/>
            <remap from="/init_buffer" to="/cam1/init_buffer"/>
            <remap from="/input_image" to="/cam1/input_image"/>
        </node>
        <node name="SharedImageWriter" pkg="mtf_bridge" type="SharedImageWriter" output="screen"> 
            <param name="shm_name" value="shm1"/>
            <remap from="/camera/image_raw" to="/cam1/camera/image_raw"/>
        </node>
    </group> 
</launch>
